body {
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
}
.style{
    background-color:yellow;
    color:black;
    border-color: aliceblue;
    width: 75px;
    height: 30px;
}
#bob{
    width: 140px;
    position: absolute;
    top: 400px;
    left: 600px;
}